<div layout="column" class="md-whiteframe-z1">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{user.email}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="logout()">
                <md-icon md-svg-src="img/icons/logout.svg" aria-label="Logout"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout="column">
        <md-content id="conversation-box">
            <div ng-repeat="message in conversation">
                <div class="message-wrapper" ng-class="message.type=='received' ? 'received' : 'sent'">
                    <div class="message">
                        <span>{{message.message}}</span>
                    </div>
                </div>
            </div>
        </md-content>
        <div class="message-box" layout="row" layout-align="center center">
            <textarea ng-model="message"></textarea>
            <div flex="flex"></div>
            <md-button class="md-raised md-primary" ng-click="sendMessage()">Send</md-button>
        </div>
    </md-content>
</div>
